@import "layout.css";

img {
    width: 200px;
    
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1,h2,h4,h5,h6 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parkServices {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}
span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 4px 4px rgb(255, 255, 255);
    
}
footer {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
    font-size: larger;
}
